# How Not To Put A Nation To Sleep
## Blake Whittington and Gabriele Spiridaviciute
***
## How Does Economic Health Affect People's Sleep?
In this notbook we want to see how inflation, GDP and unemployment affects how Americans sleep.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [2]:
gdp_df = pd.read_html('https://www.macrotrends.net/countries/USA/united-states/gdp-growth-rate')
employment_df = pd.read_html('https://www.macrotrends.net/countries/USA/united-states/unemployment-rate')
inflation_df = pd.read_html('https://www.macrotrends.net/countries/USA/united-states/inflation-rate-cpi')

In [3]:
US_GDP_df = gdp_df[1]
US_GDP_df.columns =US_GDP_df.columns.droplevel()
US_GDP_df.head()

   Year GDP Growth (%) Annual Change
0  2020         -3.49%        -5.65%
1  2019          2.16%        -0.84%
2  2018          3.00%         0.66%
3  2017          2.33%         0.62%
4  2016          1.71%        -1.36%

In [4]:
def change_type(column):
    return float(column.translate({ord('%'): None}))

def change_year_type(year_column):
    return pd.to_datetime(year_column, format='%Y')

In [5]:
US_employment_df = employment_df[1]
US_employment_df.columns =US_employment_df.columns.droplevel()
US_employment_df.head()

   Year Unemployment Rate (%) Annual Change
0  2020                 8.31%         4.64%
1  2019                 3.67%        -0.23%
2  2018                 3.90%        -0.46%
3  2017                 4.36%        -0.51%
4  2016                 4.87%        -0.41%

In [6]:
US_inflation_df = inflation_df[1]
US_inflation_df.columns =US_inflation_df.columns.droplevel()
US_inflation_df.head()

   Year Inflation Rate (%) Annual Change
0  2020              1.23%        -0.58%
1  2019              1.81%        -0.63%
2  2018              2.44%         0.31%
3  2017              2.13%         0.87%
4  2016              1.26%         1.14%

In [7]:
US_GDP_df.to_pickle('../data_file/cleaned_data_pickle/US_GDP.pickle')
US_employment_df.to_pickle('../data_file/cleaned_data_pickle/US_employment.pickle')
US_inflation_df.to_pickle('../data_file/cleaned_data_pickle/US_inflation.pickle')