# Are people a good judge of their own sleep and health?
***

## Set Up
## Imports

In [1]:
import pandas as pd

# Parameters

In [2]:
_2009_POLLDATASET = '../data_file/raw_data_csv/2009SleepinAmericaPollHealthandSafetyRawDataExcel.csv'

# Loading Raw Dataset

In [3]:
_2009_poll = pd.read_csv(_2009_POLLDATASET)
_2009_poll.shape

(1000, 177)

In [4]:
_2009_poll.head(10)

,caseid,year,market,region,tz,fips,rep,qs1,qs1a,qs201,...,d3a,d3b,d3c,d3d,d4,d5,d6,seg6,seg3,seg4
0,1,2008,ne_4,1,E,42021,4,1,NaN,7,...,2,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
1,2,2008,west_1,4,M,30033,2,1,NaN,3,...,2,NaN,NaN,NaN,2,NaN,NaN,1.0,1.0,4.0
2,3,2008,south_4,3,E,54011,5,1,NaN,5,...,1,1.0,1.0,2.0,5,NaN,NaN,3.0,3.0,2.0
3,4,2008,south_1,3,C,40147,2,1,NaN,3,...,2,NaN,NaN,NaN,4,NaN,NaN,5.0,1.0,4.0
4,5,2008,south_4,3,E,12115,2,1,NaN,7,...,2,NaN,NaN,NaN,2,NaN,NaN,3.0,1.0,2.0
5,6,2008,mw_1,2,C,20091,3,1,NaN,5,...,1,2.0,2.0,1.0,5,NaN,NaN,3.0,1.0,2.0
6,7,2008,south_4,3,E,12099,5,1,NaN,2,...,2,NaN,NaN,NaN,5,NaN,NaN,3.0,3.0,2.0
7,8,2008,south_4,3,E,21111,5,1,NaN,5,...,1,1.0,2.0,2.0,6,NaN,NaN,NaN,NaN,2.0
8,9,2008,west_1,4,M,56045,4,1,NaN,7,...,2,NaN,NaN,NaN,2,NaN,NaN,2.0,2.0,3.0
9,10,2008,west_4,4,P,6027,1,1,NaN,8,...,2,NaN,NaN,NaN,98,NaN,NaN,1.0,2.0,4.0

In [5]:
_2009_poll.update(_2009_poll[['q38', 'q38a', 'q39','q39a']].fillna(0))
_2009_poll['unable_to_control'] = _2009_poll[['q38', 'q38a']].sum(axis=1)
_2009_poll['handle_problems'] = _2009_poll[['q39', 'q39a']].sum(axis=1)

In [6]:
_2009_poll.columns.values

array(['caseid', 'year', 'market', 'region', 'tz', 'fips', 'rep', 'qs1',
       'qs1a', 'qs201', 'qs202', 'qs203', 'qs204', 'qs205', 'qs206',
       'qs207', 'qs3', 'qs4', 'qs5', 'qs5x', 'q1', 'q2', 'Q1VALUE',
       'Q2VALUE', 'Q1Q2DIF', 'Q1Q2DIFHRS', 'q3', 'q4', 'Q3VALUE',
       'Q4VALUE', 'Q3Q4DIF', 'Q3Q4DIFHRS', 'Q3Q4Q1Q2DIFHRS',
       'Q3Q4Q1Q2POS', 'q5h', 'q5m', 'q6h', 'q6m', 'Q5', 'Q5HRS', 'Q6',
       'Q6HRS', 'Q6Q5DIF', 'Q6Q5DIFHRS', 'Q6Q5POS', 'Q5GROUPED',
       'Q6GROUPED', 'q7', 'Q5Q7DIF', 'Q5Q7POS', 'Q6Q7DIF', 'Q6Q7POS',
       'q8', 'q9a', 'q9b', 'q9c', 'q9d', 'q9e', 'q10', 'q11', 'q12a',
       'q12b', 'q12c', 'q12d', 'q12e', 'q12f', 'q12g', 'q12h', 'q12i',
       'q13a', 'q13b', 'q13c', 'q13d', 'q13e', 'q14a', 'q14b', 'q14d',
       'q14e', 'q14c', 'q15a', 'q15b', 'q15c', 'q15d', 'q15e', 'q15f',
       'q15g', 'q15h', 'q15i', 'q15j', 'q16', 'q17', 'q18', 'q19', 'q20',
       'q21f', 'q21i', 'q21', 'q22', 'bmi', 'q23a', 'q24ha', 'q24ma',
       'q23b', 'Q24A', 'Q24B', 'Q24C', 'Q24D', 'Q24E', 'q24hb', 'q24mb',
       'q23c', 'q24hc', 'q24mc', 'q23d', 'q24hd', 'q24md', 'q23e',
       'q24he', 'q24me', 'q25a', 'q25b', 'q25c', 'q25d', 'q25e', 'q25f',
       'q25g', 'q25h', 'q25i', 'q26', 'q27', 'Q26Q27', 'DIET', 'EXERCISE',
       'SLEEP', 'q28', 'CAFFEINE', 'q29', 'q30', 'q31', 'q32', 'q33a',
       'q33b', 'q33c', 'q33d', 'q33e', 'q33f', 'q33g', 'q33h', 'q33i',
       'q33j', 'q33k', 'MEDCOND', 'q34', 'q35', 'q36', 'q37', 'q38',
       'q38a', 'q39', 'q39a', 'q40', 'q41', 'd101', 'd102', 'd103',
       'd104', 'd2', 'd3a', 'd3b', 'd3c', 'd3d', 'd4', 'd5', 'd6', 'seg6',
       'seg3', 'seg4', 'unable_to_control', 'handle_problems'],
      dtype=object)

In [7]:
_2009_poll=_2009_poll.drop(labels=['year','market','tz','fips','rep','qs1a',
                                 'qs202','qs203','qs204','qs205','qs206',
                                 'qs207','qs5x','Q1VALUE','Q2VALUE','Q1Q2DIF',
                                 'Q1Q2DIFHRS','Q3VALUE','Q4VALUE','Q3Q4DIF','Q3Q4DIFHRS',
                                 'Q3Q4Q1Q2DIFHRS','Q3Q4Q1Q2POS','Q6Q5DIF','Q6Q5DIFHRS','Q6Q5POS',
                                 'Q5GROUPED','Q6GROUPED','Q5Q7DIF','Q5Q7POS','Q6Q7DIF',
                                 'Q6Q7POS','q23a','q24ha','q24ma','q23b',
                                 'Q24A','Q24B','Q24C','Q24D','Q24E',
                                 'q24hb','q24mb','q23c','q24hc','q24mc',
                                 'q23d','q24hd','q24md','q23e','q24he',
                                 'q24me','DIET','EXERCISE','SLEEP','CAFFEINE','MEDCOND',
                                 'q38','q38a','q39','q39a','d102',
                                 'd103','d104','d5','d6','seg6',
                                 'seg3','seg4'], axis=1)

In [8]:
_2009_poll['handle_problems']

0      4.0
1      4.0
2      3.0
3      1.0
4      5.0
      ...
995    2.0
996    2.0
997    5.0
998    3.0
999    4.0
Name: handle_problems, Length: 1000, dtype: float64

In [9]:
_2009_poll.columns.values

array(['caseid', 'region', 'qs1', 'qs201', 'qs3', 'qs4', 'qs5', 'q1',
       'q2', 'q3', 'q4', 'q5h', 'q5m', 'q6h', 'q6m', 'Q5', 'Q5HRS', 'Q6',
       'Q6HRS', 'q7', 'q8', 'q9a', 'q9b', 'q9c', 'q9d', 'q9e', 'q10',
       'q11', 'q12a', 'q12b', 'q12c', 'q12d', 'q12e', 'q12f', 'q12g',
       'q12h', 'q12i', 'q13a', 'q13b', 'q13c', 'q13d', 'q13e', 'q14a',
       'q14b', 'q14d', 'q14e', 'q14c', 'q15a', 'q15b', 'q15c', 'q15d',
       'q15e', 'q15f', 'q15g', 'q15h', 'q15i', 'q15j', 'q16', 'q17',
       'q18', 'q19', 'q20', 'q21f', 'q21i', 'q21', 'q22', 'bmi', 'q25a',
       'q25b', 'q25c', 'q25d', 'q25e', 'q25f', 'q25g', 'q25h', 'q25i',
       'q26', 'q27', 'Q26Q27', 'q28', 'q29', 'q30', 'q31', 'q32', 'q33a',
       'q33b', 'q33c', 'q33d', 'q33e', 'q33f', 'q33g', 'q33h', 'q33i',
       'q33j', 'q33k', 'q34', 'q35', 'q36', 'q37', 'q40', 'q41', 'd101',
       'd2', 'd3a', 'd3b', 'd3c', 'd3d', 'd4', 'unable_to_control',
       'handle_problems'], dtype=object)

## Rename Columns

In [10]:
_2009_poll.rename(columns = {'caseid':'id', 'qs1':'over18', 'qs201':'employment_status',
                           'qs3':'marital_status', 'qs4':'good_rest_often', 'qs5':'gender','q1':'wake_up_weekdays', 'q2':'bed_time_weekdays',
                           'q3':'wake_up_weekends', 'q4':'bed_time_weekends', 'q5h':'hours_sleep_weekday', 'q5m':'mins_sleep_weekday', 'q6h':'hours_sleep_weekend', 
                           'q6m':'mins_sleep_weekend', 'Q5':'total_mins_sleep_weekday', 'Q5HRS':'total_hours_sleep_weekday','Q6':'total_mins_sleep_weekend', 'Q6HRS':'total_hours_sleep_weekend', 
                           'q7':'minimum_sleep_opinion', 'q8':'fall_asleep_mins', 'q9a':'difficulty_falling_asleep_often', 'q9b':'awake_alot_often', 'q9c':'woke_too_early_often',
                           'q9d':'unrefreshed_often', 'q9e':'snore_often','q10':'tingly_legs_often', 'q11':'quit_breathing_often', 'q12a':'concern_employment_often', 
                           'q12b':'concern_relationship_often', 'q12c':'concern_financial_often', 'q12d':'oncern_health_often', 'q12e':'concern_healthcare_cost_often', 'q12f':'concern_USeconomy_often',
                           'q12g':'concern_war_often', 'q12h':'concern_global_warming_often', 'q12i':'concern_terrorism_often', 'q13a':'over_counter_med_often', 'q13b':'perscribed_med_often',
                           'q13c':'relaxation_often', 'q13d':'alternative_therapy_often', 'q13e':'alcohol_sleep_often', 'q14a':'too_tired_eat_healthy', 'q14b':'too_tired_work_efficiently', 
                           'q14d':'too_tired_activities', 'q14e':'too_tired_exercise', 'q14c':'too_tired_sex', 'q15a':'nap_likely_when_tired', 'q15b':'alert_med_likely_when_tired', 
                           'q15c':'accept_likely_when_tired','q15d':'less_during_day_likely_when_tired', 'q15e':'bed_early_likely_when_tired', 'q15f':'more_sleep_weekend_likely_when_tired', 'q15g':'caffeine_likely_when_tired', 
                           'q15h':'exercise_likely_when_tired', 'q15i':'high_carb_likely_when_tired', 'q15j':'tobacco_likely_when_tired', 'q16':'drive_tired_last_year','q17':'asleep_while_driving', 
                           'q18':'accident_last_year', 'q19':'missed_activities_too_sleepy', 'q20':'heatlh_rating', 'q21f':'height(feet)', 'q21i':'height(inches)',
                           'q21':'total_height_inches', 'q22':'weight(lbs)', 'q25a':'fruit_often', 'q25b':'whole_grain_often', 
                           'q25c':'lowfat_dairy_often', 'q25d':'fast_food_often', 'q25e':'restaurant_often', 'q25f':'fried_food_often', 'q25g':'high_fat_snack_often', 
                           'q25h':'3_meals_often','q25i':'breakfast_often', 'q26':'most_important_for_health', 'q27':'second_most_important_for_health', 'Q26Q27':'third_most_important_for_health',
                           'q28':'caffeine_a_day', 'q29':'alcohol_month', 'q30':'>5_alcohol_day','q31':'one_cigarette_day',
                           'q32':'cigarettes_day', 'q33a':'heart_condition', 'q33b':'blood_pressure_condition', 'q33c':'diabetes_condition', 'q33d':'cancer_condition',
                           'q33e':'stroke_condition', 'q33f':'arthritis_condition','q33g':'breathing_condition', 'q33h':'depression_condition', 'q33i':'anxiety_condition',
                           'q33j':'sleep_condition', 'q33k':'other_chronic_condition', 'q34':'routine_checkup', 'q35':'sleep_issues_doctor', 'q36':'depressed_month',
                           'q37':'anxious_month','q40':'satisfied_relationship', 'q41':'satisfied_job', 'd101':'race', 'd2':'age', 
                           'd3a':'children_>18', 'd3b':'children_13-17', 'd3c':'children_6-12', 'd3d':'children<6', 'd4':'annual_household_income',
                           'unable_to_control':'', 'handle_problems':''
                            }, inplace = True)

In [11]:
_2009_poll.columns.values

array(['id', 'region', 'over18', 'employment_status', 'marital_status',
       'good_rest_often', 'gender', 'wake_up_weekdays',
       'bed_time_weekdays', 'wake_up_weekends', 'bed_time_weekends',
       'hours_sleep_weekday', 'mins_sleep_weekday', 'hours_sleep_weekend',
       'mins_sleep_weekend', 'total_mins_sleep_weekday',
       'total_hours_sleep_weekday', 'total_mins_sleep_weekend',
       'total_hours_sleep_weekend', 'minimum_sleep_opinion',
       'fall_asleep_mins', 'difficulty_falling_asleep_often',
       'awake_alot_often', 'woke_too_early_often', 'unrefreshed_often',
       'snore_often', 'tingly_legs_often', 'quit_breathing_often',
       'concern_employment_often', 'concern_relationship_often',
       'concern_financial_often', 'oncern_health_often',
       'concern_healthcare_cost_often', 'concern_USeconomy_often',
       'concern_war_often', 'concern_global_warming_often',
       'concern_terrorism_often', 'over_counter_med_often',
       'perscribed_med_often', 'relaxation_often',
       'alternative_therapy_often', 'alcohol_sleep_often',
       'too_tired_eat_healthy', 'too_tired_work_efficiently',
       'too_tired_activities', 'too_tired_exercise', 'too_tired_sex',
       'nap_likely_when_tired', 'alert_med_likely_when_tired',
       'accept_likely_when_tired', 'less_during_day_likely_when_tired',
       'bed_early_likely_when_tired',
       'more_sleep_weekend_likely_when_tired',
       'caffeine_likely_when_tired', 'exercise_likely_when_tired',
       'high_carb_likely_when_tired', 'tobacco_likely_when_tired',
       'drive_tired_last_year', 'asleep_while_driving',
       'accident_last_year', 'missed_activities_too_sleepy',
       'heatlh_rating', 'height(feet)', 'height(inches)',
       'total_height_inches', 'weight(lbs)', 'bmi', 'fruit_often',
       'whole_grain_often', 'lowfat_dairy_often', 'fast_food_often',
       'restaurant_often', 'fried_food_often', 'high_fat_snack_often',
       '3_meals_often', 'breakfast_often', 'most_important_for_health',
       'second_most_important_for_health',
       'third_most_important_for_health', 'caffeine_a_day',
       'alcohol_month', '>5_alcohol_day', 'one_cigarette_day',
       'cigarettes_day', 'heart_condition', 'blood_pressure_condition',
       'diabetes_condition', 'cancer_condition', 'stroke_condition',
       'arthritis_condition', 'breathing_condition',
       'depression_condition', 'anxiety_condition', 'sleep_condition',
       'other_chronic_condition', 'routine_checkup',
       'sleep_issues_doctor', 'depressed_month', 'anxious_month',
       'satisfied_relationship', 'satisfied_job', 'race', 'age',
       'children_>18', 'children_13-17', 'children_6-12', 'children<6',
       'annual_household_income', '', ''], dtype=object)

In [12]:
_2009_poll.head(10)

,id,region,over18,employment_status,marital_status,good_rest_often,gender,wake_up_weekdays,bed_time_weekdays,wake_up_weekends,...,satisfied_job,race,age,children_>18,children_13-17,children_6-12,children<6,annual_household_income,,
0,1,1,1,7,2,3,1,9,12,9,...,NaN,1,53,2,NaN,NaN,NaN,1,4.0,4.0
1,2,4,1,3,1,4,2,6,20,9,...,4.0,1,65,2,NaN,NaN,NaN,2,3.0,4.0
2,3,3,1,5,1,1,2,5,18,23,...,NaN,1,44,1,1.0,1.0,2.0,5,4.0,3.0
3,4,3,1,3,4,5,1,5,10,5,...,4.0,1,67,2,NaN,NaN,NaN,4,1.0,1.0
4,5,3,1,7,1,5,2,11,14,11,...,NaN,1,80,2,NaN,NaN,NaN,2,1.0,5.0
5,6,2,1,5,1,5,2,13,16,13,...,NaN,1,28,1,2.0,2.0,1.0,5,2.0,4.0
6,7,3,1,2,4,4,2,3,10,11,...,4.0,1,59,2,NaN,NaN,NaN,5,1.0,5.0
7,8,3,1,5,1,2,2,5,21,24,...,NaN,1,44,1,1.0,2.0,2.0,6,5.0,3.0
8,9,4,1,7,6,5,1,9,10,13,...,NaN,1,80,2,NaN,NaN,NaN,2,1.0,5.0
9,10,4,1,8,1,4,1,2,10,7,...,NaN,1,58,2,NaN,NaN,NaN,98,1.0,4.0

## Save Data

In [13]:
_2009_poll.to_pickle('../data_file/cleaned_data_pickle/2009_poll_df.pickle')

In [14]:
_2009_poll.to_csv(r'../data_file/cleaned_data_csv/clean_2009_POLLDATASET.csv', index = False)