# Are People a Good Judge of Their Own Sleep and Health?

## Introduction

## Set Up
## Imports

In [1]:
import pandas as pd

## Parameters

In [2]:
_2015_POLLDATASET = '../data_file/raw_data_csv/2015SleepinAmericaPollSleepandPainRawDataExcel.csv'

## Loading Raw Dataset

In [3]:
_2015_poll = pd.read_csv(_2015_POLLDATASET)
_2015_poll.shape

(1029, 191)

In [4]:
_2015_poll.head(10)

,CaseID,weight,tm_start,tm_finish,duration,QFLAG,XSPANISH,XPRIMELAN,DeviceType,DeviceType2,...,PPSTATEN,PPT01,PPT25,PPT612,PPT1317,PPT18OV,PPCHILDHH,PPWORK,PPWORK2,PPNET
0,1,2.7211,05-Dec-2014 17:30:31,05-Dec-2014 17:41:55,11,1,2,2,9,9,...,93,0,0,1,0,4,1,4,2,1
1,2,1.2304,05-Dec-2014 17:30:46,05-Dec-2014 17:43:39,12,1,1,5,9,9,...,59,0,0,0,0,3,0,5,2,0
2,3,0.9174,05-Dec-2014 17:31:16,05-Dec-2014 17:46:37,15,1,1,5,9,9,...,57,0,0,0,1,2,1,1,1,1
3,4,0.8991,05-Dec-2014 17:31:30,05-Dec-2014 17:39:10,7,1,1,5,9,9,...,93,0,0,0,0,1,0,1,1,1
4,5,0.5285,05-Dec-2014 17:31:37,05-Dec-2014 17:36:51,5,1,1,5,1,1,...,23,0,0,0,0,2,0,5,2,1
5,7,1.4771,05-Dec-2014 17:32:19,05-Dec-2014 17:57:21,25,1,2,3,9,9,...,47,0,0,0,0,4,0,7,2,0
6,8,0.6142,05-Dec-2014 17:32:40,05-Dec-2014 17:44:53,12,1,1,5,9,9,...,33,0,0,0,0,3,0,5,2,1
7,9,0.7140,05-Dec-2014 17:32:47,05-Dec-2014 17:41:36,8,1,1,5,1,1,...,22,0,0,0,0,2,0,4,2,1
8,10,0.6873,05-Dec-2014 17:33:29,05-Dec-2014 17:41:21,7,1,1,5,9,9,...,93,0,0,0,2,2,2,1,1,1
9,11,1.6134,05-Dec-2014 17:33:44,05-Dec-2014 17:41:26,7,1,1,5,9,9,...,56,0,0,0,0,1,0,5,2,0

In [5]:
_2015_poll.columns.values

array(['CaseID', 'weight', 'tm_start', 'tm_finish', 'duration', 'QFLAG',
       'XSPANISH', 'XPRIMELAN', 'DeviceType', 'DeviceType2', 'Q1ABorder',
       'Q1_A', 'Q1_A_3', 'Q1_B', 'Q1_B_3', 'Q1_C', 'Q1_C_3', 'Q1_D',
       'Q1_D_3', 'Q2_HoursA', 'Q2_MinutesA', 'Q2_ampmA', 'Q2_HoursB',
       'Q2_MinutesB', 'Q2_ampmB', 'DOV_WEEKTIME', 'Q2_TOTAL', 'Q3_HoursA',
       'Q3_MinutesA', 'Q3_ampmA', 'Q3_HoursB', 'Q3_MinutesB', 'Q3_ampmB',
       'DOV_WEEKEND', 'Q3_TOTAL', 'Q6_HoursA', 'Q6_MinutesA', 'Q6_HoursB',
       'Q6_MinutesB', 'DOV_TOTALWEEK', 'DOV_TOTALWEEKEND', 'Q6_WEEKDAYS',
       'Q6_WEEKENDS', 'Q7_Hours', 'Q7_Minutes', 'DOV_TOTALSLEEP',
       'Q7_TOTAL', 'Q8_a', 'Q8_a_3', 'Q8_b', 'Q8_b_3', 'Q8_c', 'Q8_c_3',
       'Q8_d', 'Q8_d_3', 'Q9_a', 'Q9_a_3', 'Q9_b', 'Q9_b_3', 'Q9_c',
       'Q9_c_3', 'Q10_a', 'Q10_a_3', 'Q11', 'Q11_3', 'Q11A_a', 'Q11a_a_3',
       'Q11A_b', 'Q11a_b_3', 'Q11A_c', 'Q11a_c_3', 'Q11A_d', 'Q11a_d_3',
       'Q11A_e', 'Q11a_e_3', 'Q12_a', 'Q12_b', 'Q13_a', 'Q13_a_3',
       'Q13_b', 'Q13_b_3', 'Q14order', 'Q14_a', 'Q14_a_3', 'Q14_b',
       'Q14_b_3', 'Q14_c', 'Q14_c_3', 'Q14_d', 'Q14_d_3', 'Q14_e',
       'Q14_e_3', 'Q14a', 'Q14_A2_3', 'Q15_a', 'Q15_a_3', 'Q15_b',
       'Q15_b_3', 'Q15_c', 'Q15_c_3', 'Q15_d', 'Q15_d_3', 'Q15_e',
       'Q15_e_3', 'Q16', 'Q16_3', 'Q17', 'Q17_3', 'Q18', 'Q18_3', 'Q19',
       'Q19_3', 'Q20', 'Q21', 'Q22', 'Q23_a', 'Q23_b', 'Q23_c', 'Q24_a',
       'Q24_a_2', 'Q24_b', 'Q24_b_2', 'Q24_c', 'Q24_c_2', 'Q24_d',
       'Q24_d_2', 'Q24_e', 'Q24_e_2', 'Q24_f', 'Q24_f_2', 'Q25_a',
       'Q25_a_3', 'Q25_b', 'Q25_b_3', 'Q25_c', 'Q25_c_3', 'Q25_A2',
       'Q25_A2_3', 'Q26', 'Q27', 'Q27_3', 'Q28_a', 'Q28_b', 'Q28_c',
       'Q28_d', 'Q28_e', 'Q28_f', 'Q28_g', 'Q28_h', 'Q28_i', 'Q28_j',
       'Q28_k', 'Q28_Summary_Back', 'Q28_Summary_Head',
       'Q28_Summary_Legs', 'Q28_Summary_Other', 'Q29', 'Q30_a', 'Q30_a_3',
       'Q30_b', 'Q30_b_3', 'Q30_c', 'Q30_c_3', 'Q31', 'PPAGE', 'PPAGE65',
       'ppagecat', 'ppagect4', 'PPEDUC', 'PPEDUCAT', 'PPETHM', 'PPGENDER',
       'PPHHHEAD', 'PPHHSIZE', 'PPHOUSE', 'PPINCIMP', 'PPMARIT',
       'PPMSACAT', 'PPREG4', 'ppreg9', 'PPRENT', 'PPSTATEN', 'PPT01',
       'PPT25', 'PPT612', 'PPT1317', 'PPT18OV', 'PPCHILDHH', 'PPWORK',
       'PPWORK2', 'PPNET'], dtype=object)

In [6]:
_2015_poll

,CaseID,weight,tm_start,tm_finish,duration,QFLAG,XSPANISH,XPRIMELAN,DeviceType,DeviceType2,...,PPSTATEN,PPT01,PPT25,PPT612,PPT1317,PPT18OV,PPCHILDHH,PPWORK,PPWORK2,PPNET
0,1,2.7211,05-Dec-2014 17:30:31,05-Dec-2014 17:41:55,11,1,2,2,9,9,...,93,0,0,1,0,4,1,4,2,1
1,2,1.2304,05-Dec-2014 17:30:46,05-Dec-2014 17:43:39,12,1,1,5,9,9,...,59,0,0,0,0,3,0,5,2,0
2,3,0.9174,05-Dec-2014 17:31:16,05-Dec-2014 17:46:37,15,1,1,5,9,9,...,57,0,0,0,1,2,1,1,1,1
3,4,0.8991,05-Dec-2014 17:31:30,05-Dec-2014 17:39:10,7,1,1,5,9,9,...,93,0,0,0,0,1,0,1,1,1
4,5,0.5285,05-Dec-2014 17:31:37,05-Dec-2014 17:36:51,5,1,1,5,1,1,...,23,0,0,0,0,2,0,5,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024,1087,1.3239,13-Dec-2014 04:57:52,13-Dec-2014 05:03:20,5,1,1,5,9,9,...,82,0,0,0,0,1,0,1,1,0
1025,1088,1.8419,13-Dec-2014 05:05:51,13-Dec-2014 05:17:26,11,1,1,5,9,9,...,33,0,0,0,0,2,0,1,1,0
1026,1089,1.1621,13-Dec-2014 05:26:44,13-Dec-2014 05:35:47,9,1,1,5,9,9,...,14,0,0,0,0,3,0,1,1,0
1027,1090,1.3219,13-Dec-2014 06:04:01,13-Dec-2014 06:16:27,12,1,1,5,7,7,...,64,0,0,0,2,5,2,3,2,1
1028,1091,1.2960,13-Dec-2014 06:35:22,13-Dec-2014 07:07:46,32,1,1,5,9,9,...,34,0,0,0,0,6,0,1,1,1

## Drop Unnecessary Columns

In [7]:
_2015_poll=_2015_poll.drop(labels=['QFLAG', 'XSPANISH', 'XPRIMELAN', 'DeviceType', 'Q1_A_3', 'Q1_B_3',
                                'Q1_C_3', 'Q1_D_3', 'Q2_TOTAL', 'Q3_TOTAL', 'Q6_WEEKDAYS', 'Q6_WEEKENDS',
                                'DOV_TOTALSLEEP', 'Q7_TOTAL', 'Q8_a_3', 'Q8_b_3', 'Q8_b_3', 'Q8_c_3', 'Q8_d_3',
                                'Q9_a_3', 'Q9_b_3', 'Q9_c_3', 'Q10_a_3', 'Q11_3', 'Q11_3', 'Q11a_a_3', 'Q11a_b_3', 
                                'Q11a_c_3', 'Q11a_d_3', 'Q11a_e_3', 'Q13_b_3', 'Q14_a_3', 'Q14_b_3', 'Q14_c_3', 
                                'Q14_d_3', 'Q14_e_3', 'Q14_A2_3', 'Q15_a_3', 'Q15_b_3', 'Q15_c_3', 'Q15_d_3', 
                                'Q15_e_3', 'Q16_3', 'Q17_3', 'Q18_3', 'Q19_3', 'Q24_a_2', 'Q24_b_2', 'Q24_c_2', 
                                'Q24_d_2', 'Q24_e_2', 'Q24_f_2', 'Q25_a_3', 'Q25_b_3', 'Q25_c_3', 'Q25_A2_3', 
                                'Q27_3', 'Q28_Summary_Back', 'Q28_Summary_Head', 'Q28_Summary_Legs', 'Q28_Summary_Other', 
                                'Q30_a_3', 'Q30_b_3', 'Q30_c_3', 'PPAGE', 'PPAGE65', 'ppagecat', 'ppagect4', 'PPEDUC', 
                                'PPEDUCAT', 'PPETHM', 'PPGENDER', 'PPHHHEAD', 'PPHHSIZE', 'PPHOUSE', 'PPINCIMP', 'PPMARIT', 
                                'PPMSACAT', 'PPREG4', 'ppreg9', 'PPRENT', 'PPSTATEN', 'PPT01', 'PPT25', 'PPT612', 'PPT1317', 
                                'PPT18OV', 'PPCHILDHH', 'PPWORK', 'PPWORK2', 'PPNET'], axis=1)

In [8]:
display(_2015_poll)

,CaseID,weight,tm_start,tm_finish,duration,DeviceType2,Q1ABorder,Q1_A,Q1_B,Q1_C,...,Q28_g,Q28_h,Q28_i,Q28_j,Q28_k,Q29,Q30_a,Q30_b,Q30_c,Q31
0,1,2.7211,05-Dec-2014 17:30:31,05-Dec-2014 17:41:55,11,9,"b,a",2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,2,4,3,2
1,2,1.2304,05-Dec-2014 17:30:46,05-Dec-2014 17:43:39,12,9,"b,a",3,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,2,1,1,2
2,3,0.9174,05-Dec-2014 17:31:16,05-Dec-2014 17:46:37,15,9,"a,b",1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,3
3,4,0.8991,05-Dec-2014 17:31:30,05-Dec-2014 17:39:10,7,9,"b,a",3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,2
4,5,0.5285,05-Dec-2014 17:31:37,05-Dec-2014 17:36:51,5,1,"a,b",1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024,1087,1.3239,13-Dec-2014 04:57:52,13-Dec-2014 05:03:20,5,9,"b,a",2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1
1025,1088,1.8419,13-Dec-2014 05:05:51,13-Dec-2014 05:17:26,11,9,"a,b",2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,2,1,2,2
1026,1089,1.1621,13-Dec-2014 05:26:44,13-Dec-2014 05:35:47,9,9,"a,b",3,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2
1027,1090,1.3219,13-Dec-2014 06:04:01,13-Dec-2014 06:16:27,12,7,"b,a",1,5,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1
1028,1091,1.2960,13-Dec-2014 06:35:22,13-Dec-2014 07:07:46,32,9,"b,a",3,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2,2

## Rename Ambiguous Columns

In [9]:
_2015_poll.rename(columns = {'CaseID':'id', 'weight':'weight', 'tm_start':'survey_start_time',
                             'tm_finish':'survey_finish_time', 'duration':'duration(minutes)', 
                             'Q1ABorder':'order', 'Q1_A':'health_rating', 'Q1_B':'life_quality_rating',
                             'Q1_C': 'physical_health_rating', 'Q1_D':'mental_health_rating', 
                             'Q2_HoursA':'bed_time_hour_weekday', 'Q2_MinutesA':'bed_time_15mins_weekday', 
                             'Q2_ampmA':'am/pm_bed_time', 'Q2_HoursB':'wake_up_hour_weekday', 
                             'Q2_MinutesB':'wake_up_15_mins_weekday', 'Q2_ampmB':'am/pm_wake_up_weekday', 
                             'DOV_WEEKTIME':'min_in_bed_weekday', 'Q3_HoursA':'bed_time_hour_weekends', 
                             'Q3_MinutesA':'bed_time_15min_weekends', 'Q3_ampmA':'am/pm_bed_time_weekend', 
                             'Q3_HoursB':'wake_up_hour_weekends', 'Q3_MinutesB': 'wake_up_15min_weekends', 
                             'Q3_ampmB':'am/pm_wake_up_weekend', 'DOV_WEEKEND':'min_in_bed_weekend', 
                             'Q6_HoursA':'hours_sleep_weekday', 'Q6_MinutesA':'mins_sleep_weekday', 
                             'Q6_HoursB':'hours_sleep_weekend', 'Q6_MinutesB':'mins_sleep_weekend', 
                             'DOV_TOTALWEEK':'mins_sleep_weekday', 'DOV_TOTALWEEKEND':'mins_sleep_weekend'}, inplace = True)

## Save Data

In [10]:
_2015_poll.to_pickle('../data_file/cleaned_data_pickle/2015_poll_df.pickle')

In [11]:
_2015_poll.to_csv(r'../data_file/cleaned_data_csv/clean_2015_POLLDATASET.csv', index = False)