## How Does Economic Health Affect Peopleâ€™s Sleep?
***
Combine common columns in the various sleep pools in order to explore specifics about sleep

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Parameters

In [2]:
poll_2009 = '../data_file/cleaned_data_pickle/2009_poll_df.pickle'
poll_2011 = '../data_file/cleaned_data_pickle/2011_poll_df.pickle'
poll_2013 = '../data_file/cleaned_data_pickle/2013_poll_df.pickle'
poll_2015 = '../data_file/cleaned_data_pickle/2015_poll_df.pickle'

## Load Data

In [3]:
df_09 = pd.read_pickle(poll_2009)
df_11 = pd.read_pickle(poll_2011)
df_13 = pd.read_pickle(poll_2013)
df_15 = pd.read_pickle(poll_2015)

In [4]:
for col in df_09.columns:
    print(col)

id
region
over18
employment_status
marital_status
good_rest_often
gender
wake_up_weekdays
bed_time_weekdays
wake_up_weekends
bed_time_weekends
hours_sleep_weekday
mins_sleep_weekday
hours_sleep_weekend
mins_sleep_weekend
total_mins_sleep_weekday
total_hours_sleep_weekday
total_mins_sleep_weekend
total_hours_sleep_weekend
minimum_sleep_opinion
fall_asleep_mins
difficulty_falling_asleep_often
awake_alot_often
woke_too_early_often
unrefreshed_often
snore_often
tingly_legs_often
quit_breathing_often
concern_employment_often
concern_relationship_often
concern_financial_often
oncern_health_often
concern_healthcare_cost_often
concern_USeconomy_often
concern_war_often
concern_global_warming_often
concern_terrorism_often
over_counter_med_often
perscribed_med_often
relaxation_often
alternative_therapy_often
alcohol_sleep_often
too_tired_eat_healthy
too_tired_work_efficiently
too_tired_activities
too_tired_exercise
too_tired_sex
nap_likely_when_tired
alert_med_likely_when_tired
accept_likely_when_tired
less_during_day_likely_when_tired
bed_early_likely_when_tired
more_sleep_weekend_likely_when_tired
caffeine_likely_when_tired
exercise_likely_when_tired
high_carb_likely_when_tired
tobacco_likely_when_tired
drive_tired_last_year
asleep_while_driving
accident_last_year
missed_activities_too_sleepy
heatlh_rating
height(feet)
height(inches)
total_height_inches
weight(lbs)
bmi
fruit_often
whole_grain_often
lowfat_dairy_often
fast_food_often
restaurant_often
fried_food_often
high_fat_snack_often
3_meals_often
breakfast_often
most_important_for_health
second_most_important_for_health
third_most_important_for_health
caffeine_a_day
alcohol_month
>5_alcohol_day
one_cigarette_day
cigarettes_day
heart_condition
blood_pressure_condition
diabetes_condition
cancer_condition
stroke_condition
arthritis_condition
breathing_condition
depression_condition
anxiety_condition
sleep_condition
other_chronic_condition
routine_checkup
sleep_issues_doctor
depressed_month
anxious_month
satisfied_relationship
satisfied_job
race
age
children_>18
children_13-17
children_6-12
children<6
annual_household_income

In [5]:
print(df_11.columns)

Index(['id', 'age', 'employment_status', 'state', 'gender', 'wake_up_weekdays',
       'bed_time_weekdays', 'bed_time_wrong', 'wake_up_weekends',
       'bed_time_weekends',
       ...
       'ebook_woke_during_night_too_early', 'book_woke_during_night_too_early',
       'music_woke_during_night_too_early',
       'video_woke_during_night_too_early',
       'work_pc_woke_during_night_too_early',
       'homework_pc_woke_during_night_too_early', 'drive_tired_last_month',
       'marital_status', 'hispanic', 'race'],
      dtype='object', length=128)

In [6]:
df_09[['wake_up_weekdays', 'wake_up_weekends', 'bed_time_weekdays', 'bed_time_weekends','hours_sleep_weekday', 'hours_sleep_weekend' ]]

,wake_up_weekdays,wake_up_weekends,bed_time_weekdays,bed_time_weekends,hours_sleep_weekday,hours_sleep_weekend
0,9,9,12,12,10,10
1,6,9,20,20,6,5
2,5,23,18,18,5,11
3,5,5,10,14,7,99
4,11,11,14,14,9,9
...,...,...,...,...,...,...
995,3,15,17,17,6,6
996,15,15,14,14,8,8
997,13,13,18,18,8,8
998,11,23,18,18,8,7
999,11,13,10,12,9,9

In [7]:
df_11[['wake_up_weekdays', 'wake_up_weekends', 'bed_time_weekdays', 'bed_time_weekends','hours_sleep_weekday', 'hours_sleep_weekend' ]]

,wake_up_weekdays,wake_up_weekends,bed_time_weekdays,bed_time_weekends,hours_sleep_weekday,hours_sleep_weekend
0,23,23,3,4,6.0,8.0
1,11,25,4,18,5.0,10.0
2,5,9,14,18,6.0,7.0
3,10,15,21,2,6.0,7.0
4,2,7,14,21,7.0,7.0
...,...,...,...,...,...,...
1503,20,23,3,3,8.0,10.0
1504,11,21,17,21,7.0,10.0
1505,18,25,3,3,7.0,9.0
1506,6,15,20,1,6.0,8.0
1507,24,25,4,4,6.0,8.0

In [8]:
df_13[['wake_up_weekdays', 'wake_up_weekends', 'bed_time_weekdays', 'bed_time_weekends','hours_sleep_weekday', 'hours_sleep_weekend' ]]

,wake_up_weekdays,wake_up_weekends,bed_time_weekdays,bed_time_weekends,hours_sleep_weekday,hours_sleep_weekend
0,17,17,14,14,12.0,12.0
1,7,19,10,6,7.0,8.0
2,9,11,14,14,8.0,8.0
3,10,15,15,18,6.0,7.0
4,8,17,18,18,7.0,8.0
...,...,...,...,...,...,...
995,15,15,18,18,6.0,6.0
996,13,23,2,4,7.0,7.0
997,11,17,18,1,7.0,8.0
998,7,11,16,16,7.0,8.0
999,7,13,16,18,9.0,10.0

In [9]:
# df_15[['wake_up_weekdays']]
# , 'wake_up_weekends', 'bed_time_weekdays', 'bed_time_weekends','hours_sleep_weekday', 'hours_sleep_weekend' ]
df_15.iloc[:,11:31]

,bed_time_hour_weekday,bed_time_15mins_weekday,am/pm_bed_time,wake_up_hour_weekday,wake_up_15_mins_weekday,am/pm_wake_up_weekday,min_in_bed_weekday,bed_time_hour_weekends,bed_time_15min_weekends,am/pm_bed_time_weekend,wake_up_hour_weekends,wake_up_15min_weekends,am/pm_wake_up_weekend,min_in_bed_weekend,hours_sleep_weekday,mins_sleep_weekday,hours_sleep_weekend,mins_sleep_weekend,mins_sleep_weekday,mins_sleep_weekend
0,11,3,2,8,2,1,525.0,1,2,2,9,2,1,1200.0,7,2,7,2,435.0,435.0
1,11,3,2,8,3,1,540.0,11,3,2,8,3,1,540.0,8,1,8,1,480.0,480.0
2,10,1,2,6,3,1,510.0,11,1,2,7,1,1,480.0,8,1,8,1,480.0,480.0
3,11,3,2,7,3,1,480.0,12,3,1,8,3,1,480.0,7,1,7,3,420.0,450.0
4,10,3,2,6,1,1,450.0,10,3,2,6,1,1,450.0,7,3,7,3,450.0,450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024,9,1,2,7,1,1,600.0,9,1,2,9,1,1,720.0,8,1,9,1,480.0,540.0
1025,1,3,1,10,1,1,510.0,2,1,1,10,1,1,480.0,9,1,9,1,540.0,540.0
1026,3,1,1,11,4,1,525.0,2,2,1,11,4,1,570.0,7,2,8,3,435.0,510.0
1027,11,1,2,6,2,1,435.0,5,1,2,11,1,2,360.0,8,1,10,1,480.0,600.0
1028,9,1,1,6,1,2,540.0,3,1,1,1,1,2,600.0,7,3,8,1,450.0,480.0