# Are people a good judge of their own sleep and health?
***
## Exercise as a Predictor of Sleep and Health Quality

# Set Up
## Imports

In [1]:
import pandas as pd
import os
import glob
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.ticker as mtick

## Parameters

In [2]:
clean_2013_POLLDATASET = '../data_file/cleaned_data_csv/clean_2013_POLLDATASET.csv'

## Loading Raw Dataset

In [3]:
clean_2013Poll = pd.read_csv(clean_2013_POLLDATASET)
clean_2013Poll.shape

(1000, 140)

In [4]:
exercise_df = clean_2013Poll.copy()

In [5]:
exercise_df.shape

(1000, 140)

In [6]:
exercise_DATASET = '../data_file/recommendation_data/exercise_recommendations.csv'

In [7]:
exercise_recomm_df = pd.read_csv(exercise_DATASET)
exercise_recomm_df.shape

(3, 5)

In [8]:
exercise_recomm_df

   time_frame  light  moderate  vigourous  general
0     day_min     32      21.5       10.5     21.5
1    week_min    225     150.0       75.0    150.0
2  2_week_min    450     300.0      150.0    300.0

In [9]:
exercise_df['activity_level']

0           None
1          Light
2      Monderate
3          Light
4          Light
         ...
995    Monderate
996        Light
997        Light
998        Light
999        Light
Name: activity_level, Length: 1000, dtype: object

In [10]:
exercise_df['perc_exercise_outside'].unique()

array([ 50,  75,  80,  20,   0, 100,  10,  60,  95,  90,  40,  70,  65,
       996,  85,  25,  35,  30,  15,   7, 998,   3,  98,   5,  45, 999,
        99,  67,  53,   1,   2,  86,  55])

In [11]:
exercise_df[['vigorous_activity_total_min','>8_hours_before_bed_vigorous','4-8_hours_before_bed_vigorous','<4_hours_before_bed_vigorous']]

,vigorous_activity_total_min,>8_hours_before_bed_vigorous,4-8_hours_before_bed_vigorous,<4_hours_before_bed_vigorous
0,0.0,NaN,NaN,NaN
1,0.0,NaN,NaN,NaN
2,20.0,1.0,2.0,NaN
3,60.0,2.0,3.0,NaN
4,15.0,1.0,NaN,NaN
...,...,...,...,...
995,15.0,2.0,NaN,NaN
996,30.0,3.0,NaN,NaN
997,60.0,1.0,NaN,NaN
998,10.0,1.0,NaN,NaN
999,0.0,NaN,NaN,NaN

In [12]:
exercise_df[['moderate_activity_total_min','>8_hours_before_bed_moderate','4-8_hours_before_bed_moderate','<4_hours_before_bed_moderate']]

,moderate_activity_total_min,>8_hours_before_bed_moderate,4-8_hours_before_bed_moderate,<4_hours_before_bed_moderate
0,0.0,NaN,NaN,NaN
1,30.0,3.0,NaN,NaN
2,40.0,1.0,2.0,NaN
3,60.0,2.0,3.0,NaN
4,0.0,NaN,NaN,NaN
...,...,...,...,...
995,60.0,2.0,NaN,NaN
996,0.0,NaN,NaN,NaN
997,60.0,1.0,NaN,NaN
998,240.0,1.0,NaN,NaN
999,120.0,1.0,NaN,NaN

In [13]:
exercise_df[['light_activity_total_min','>8_hours_before_bed_light','4-8_hours_before_bed_light','<4_hours_before_bed_light']]

,light_activity_total_min,>8_hours_before_bed_light,4-8_hours_before_bed_light,<4_hours_before_bed_light
0,0.0,NaN,NaN,NaN
1,60.0,2.0,NaN,NaN
2,60.0,1.0,2.0,3.0
3,60.0,2.0,3.0,NaN
4,30.0,1.0,NaN,NaN
...,...,...,...,...
995,30.0,2.0,NaN,NaN
996,20.0,1.0,NaN,NaN
997,180.0,1.0,2.0,3.0
998,120.0,1.0,2.0,3.0
999,240.0,2.0,NaN,NaN

In [14]:
exercise_df['sitting_total_min']

0      300.0
1      300.0
2      180.0
3      480.0
4      420.0
       ...
995    240.0
996    720.0
997    360.0
998    420.0
999     99.0
Name: sitting_total_min, Length: 1000, dtype: float64

In [15]:
exercise_df['exercise_impact_sleep_quality']

0      No Difference
1      No Difference
2           Improves
3      No Difference
4      No Difference
           ...
995    No Difference
996    No Difference
997         Improves
998    No Difference
999         Improves
Name: exercise_impact_sleep_quality, Length: 1000, dtype: object

In [16]:
exercise_df['exercise_impact_sleep_time']

0      No Difference
1      No Difference
2      No Difference
3      No Difference
4      No Difference
           ...
995    No Difference
996    No Difference
997    No Difference
998    No Difference
999         Improves
Name: exercise_impact_sleep_time, Length: 1000, dtype: object

In [17]:
exercise_df['exercise_impact_awakening']

0                No Effect
1                No Effect
2      Awake a Little Less
3                No Effect
4                No Effect
              ...
995              No Effect
996              No Effect
997              No Effect
998    Awake a Little Less
999              No Effect
Name: exercise_impact_awakening, Length: 1000, dtype: object

In [18]:
exercise_df['exercise_weekday_weekend']

0                  No Difference
1      Much More Likely Weekends
2      Much More Likely Weekends
3                  No Difference
4                  No Difference
                 ...
995                No Difference
996                No Difference
997    Much More Likely Weekdays
998                No Difference
999    Much More Likely Weekends
Name: exercise_weekday_weekend, Length: 1000, dtype: object

In [19]:
exercise_df['bad_sleep_impact_exercise']

0      No Difference
1      No Difference
2      No Difference
3      No Difference
4      No Difference
           ...
995    A Little Less
996        Much Less
997    A Little Less
998    A Little Less
999    No Difference
Name: bad_sleep_impact_exercise, Length: 1000, dtype: object

In [20]:
exercise_df['unable_to_exercise_impact_sleep']

0        No Difference
1        No Difference
2       Somewhat Worse
3        No Difference
4        No Difference
            ...
995    Somewhat Better
996      No Difference
997      No Difference
998      No Difference
999      No Difference
Name: unable_to_exercise_impact_sleep, Length: 1000, dtype: object